body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

form .form-group input.custom-input {
    width: 300px; 
}

form {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px; 
    border-radius: 10px; 
}